body {
  margin: 0;
  box-sizing: border-box;
}

.panels {
  display: flex;
  /*justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
  flex: 1 auto;*/
  border: gold 2px solid;
  min-height: 100vh;
}

.panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  border: pink 1px solid;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  justify-content: space-between;
  transition: flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
}

.panel.open {
  flex: 5;
}

.panel h3 {
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 0 black;
  color: white;
  background: rgb(54, 25, 25);
  background: rgba(25, 25, 25, .5);
  width: 100%;
  padding: 10px 5px;
  margin: 0;
  transition: transform 0.5s;
  transition-delay: 0.7s;
}

.info {
  width: 100%;
  background: rgb(54, 25, 25);
  background: rgba(25, 25, 25, .5);
  transition: transform 0.5s;
  transition-delay: 0.7s;
}

.panel>*:first-child {
  transform: translateY(-100%);
}

.panel.open-active>*:first-child {
  transform: translateY(0);
}

.panel>*:last-child {
  transform: translateY(100%);
}

.panel.open-active>*:last-child {
  transform: translateY(0);
}

.panel1 {
  background-image: url(http://www.emstone.pl/userfiles/slider/1460624536.jpg);
}

.panel2 {
  background-image: url(http://www.emstone.pl/userfiles/slider/1412848830.jpg);
}

.panel3 {
  background-image: url(http://www.emstone.pl/userfiles/slider/1436169822.jpg);
}

.panel4 {
  background-image: url(http://www.emstone.pl/userfiles/slider/1412857118.jpg);
}

.panel5 {
  background-image: url(http://newlondondevelopment.com/full/5550865569702d3fbc000000/1Elevated_Entrance.jpg);
}

@media all and (max-width:1000px) {
  .panels {
    flex-direction: column;
  }
}
